## Create Dataframe with Authors information and List of all Books on Goodreads
The two gz files come from the site https://datarepo.eng.ucsd.edu/mcauley_group/gdrive/goodreads/

In [2]:
import gzip
import json
import re
import os
import sys
import pandas as pd

### Step1 - Create the two data frame
Objective : create a specific file with authors informations df_Authors and a file with informations on the books df_BooksList

In [50]:
# Give the directory of the files
DIR = 'C:/Users/gunon/Documents/bootcamp-main/3-projects/ML_Book_Valuations/'

In [51]:
# Function to load the gz file and transform into JSON file 
def load_data(file_name, head = 200):
    count = 0
    data = []
    with gzip.open(file_name) as fin:
        for l in fin:
            d = json.loads(l)
            count += 1
            data.append(d)
            
            # break if reaches the 100th line
            #if (head is not None) and (count > head):
             #   break
    return data

In [52]:
# Load gz file related to authors
authors = load_data(os.path.join(DIR, 'goodreads_book_authors.json.gz'))
# Transform the nested JSON data structure books into a dataframe called df_Authors
df_Authors = pd.json_normalize(authors)

In [53]:
# A look at the data frame
df_Authors

,average_rating,author_id,text_reviews_count,name,ratings_count
0,3.98,604031,7,Ronald J. Fields,49
1,4.08,626222,28716,Anita Diamant,546796
2,3.92,10333,5075,Barbara Hambly,122118
3,3.68,9212,36262,Jennifer Weiner,888522
4,3.82,149918,96,Nigel Pennick,1740
...,...,...,...,...,...
829524,4.36,197551,4,Patty Furbush,11
829525,4.33,3988103,3,Jim Schlinkman,6
829526,4.00,13464507,2,Rich Jolly,18
829527,3.31,7427847,1,sr@ mwrGn,13
829528,3.70,5401342,11,Barry S. Brown,43

In [6]:
# Load gz file related to BookList
books = load_data(os.path.join(DIR, 'goodreads_books.json.gz'))
# Transform the nested JSON data structure books into a dataframe called df_BooksList
df_BooksList = pd.json_normalize(books)

In [7]:
# A look at the data frame
df_BooksList

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,0312853122,1,[],US,,"[{'count': '3', 'name': 'to-read'}, {'count': ...",,false,4.00,,...,9,,1984,https://www.goodreads.com/book/show/5333265-w-...,https://images.gr-assets.com/books/1310220028m...,5333265,3,5400751,W.C. Fields: A Life on Film,W.C. Fields: A Life on Film
1,0743509986,6,[],US,,"[{'count': '2634', 'name': 'to-read'}, {'count...",,false,3.23,B000FC0PBC,...,10,Abridged,2001,https://www.goodreads.com/book/show/1333909.Go...,https://s.gr-assets.com/assets/nophoto/book/11...,1333909,10,1323437,Good Harbor,Good Harbor
2,,7,[189911],US,eng,"[{'count': '58', 'name': 'to-read'}, {'count':...",B00071IKUY,false,4.03,,...,,Book Club Edition,1987,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,7327624,140,8948723,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","The Unschooled Wizard (Sun Wolf and Starhawk, ..."
3,0743294297,3282,[],US,eng,"[{'count': '7615', 'name': 'to-read'}, {'count...",,false,3.49,B002ENBLOK,...,7,,2009,https://www.goodreads.com/book/show/6066819-be...,https://s.gr-assets.com/assets/nophoto/book/11...,6066819,51184,6243154,Best Friends Forever,Best Friends Forever
4,0850308712,5,[],US,,"[{'count': '32', 'name': 'to-read'}, {'count':...",,false,3.40,,...,,,,https://www.goodreads.com/book/show/287140.Run...,https://images.gr-assets.com/books/1413219371m...,287140,15,278577,Runic Astrology: Starcraft and Timekeeping in ...,Runic Astrology: Starcraft and Timekeeping in ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2360650,0563553014,3,[618749],US,eng,"[{'count': '11', 'name': 'to-read'}, {'count':...",,false,4.05,,...,9,BBC Radio Collection,1999,https://www.goodreads.com/book/show/3084038-th...,https://images.gr-assets.com/books/1494763458m...,3084038,12,3115103,"This Sceptred Isle, Vol. 10: The Age of Victor...","This Sceptred Isle, Vol. 10: The Age of Victor..."
2360651,178092870X,2,[],US,eng,"[{'count': '702', 'name': 'to-read'}, {'count'...",,false,3.50,,...,8,2nd Edition,2015,https://www.goodreads.com/book/show/26168430-s...,https://images.gr-assets.com/books/1440592011m...,26168430,6,46130263,Sherlock Holmes and the July Crisis,Sherlock Holmes and the July Crisis
2360652,0765197456,6,[],US,,"[{'count': '37', 'name': 'to-read'}, {'count':...",,false,4.00,,...,8,,1996,https://www.goodreads.com/book/show/2342551.Th...,https://s.gr-assets.com/assets/nophoto/book/11...,2342551,36,2349247,The Children's Classic Poetry Collection,The Children's Classic Poetry Collection
2360653,162378140X,17,[658195],US,eng,"[{'count': '56', 'name': 'to-read'}, {'count':...",,false,4.37,,...,4,,2014,https://www.goodreads.com/book/show/22017381-1...,https://images.gr-assets.com/books/1398621236m...,22017381,70,41332799,"101 Nights: Volume One (101 Nights, #1-3)","101 Nights: Volume One (101 Nights, #1-3)"
2360654,,1,[],US,,"[{'count': '231', 'name': 'to-read'}, {'count'...",B000W914MC,true,3.52,B000W914MC,...,,,,https://www.goodreads.com/book/show/11419866-t...,https://s.gr-assets.com/assets/nophoto/book/11...,11419866,7,2206102,The Spanish Duke's Virgin Bride (Innocent Mist...,The Spanish Duke's Virgin Bride (Innocent Mist...

In [8]:
# Saving each dataframe into csv file to reuse it in the following ML project
df_Authors.to_csv(r"C:\Users\gunon\Documents\bootcamp-main\3-projects\ML_Book_Valuations\Authors.csv", index=False)
df_BooksList.to_csv(r"C:\Users\gunon\Documents\bootcamp-main\3-projects\ML_Book_Valuations\BooksList.csv", index=False)

### Step 2 - Analyse the dataframe BooksList

In [3]:
# Load the df BooksList (very long process of creation at step 1)
df_BooksList = pd.read_csv(r"C:\Users\gunon\Documents\bootcamp-main\3-projects\ML_Book_Valuations\BooksList.csv", sep=",")

C:\Users\gunon\AppData\Local\Temp\ipykernel_17508\1452276226.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_BooksList = pd.read_csv(r"C:\Users\gunon\Documents\bootcamp-main\3-projects\ML_Book_Valuations\BooksList.csv", sep=",")

In [3]:
df_BooksList.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2360655 entries, 0 to 2360654
Data columns (total 29 columns):
 #   Column                Dtype
---  ------                -----
 0   isbn                  object
 1   text_reviews_count    float64
 2   series                object
 3   country_code          object
 4   language_code         object
 5   popular_shelves       object
 6   asin                  object
 7   is_ebook              object
 8   average_rating        float64
 9   kindle_asin           object
 10  similar_books         object
 11  description           object
 12  format                object
 13  link                  object
 14  authors               object
 15  publisher             object
 16  num_pages             float64
 17  publication_day       float64
 18  isbn13                object
 19  publication_month     float64
 20  edition_information   object
 21  publication_year      float64
 22  url                   object
 23  image_url             object
 24  book_id               int64
 25  ratings_count         float64
 26  work_id               float64
 27  title                 object
 28  title_without_series  object
dtypes: float64(8), int64(1), object(20)
memory usage: 522.3+ MB

### Conclusion of the analyse of the df_example
 1/ create a specific dataframe related to popular shelves with 'book_id','isbn13'and'title' 
 
 2/ create a new dataframe (light) by droppping the useless columns
 
 3/ Expand the data in the column authors into different columns

In [5]:
# 1/Create a dataframe from the popular shelves columns
df_shelves = df_BooksList[['book_id','isbn13','title','popular_shelves']].copy()
df_shelves.to_csv(r"C:\Users\gunon\Documents\bootcamp-main\3-projects\ML_Book_Valuations\Shelves.csv", index=False)

# 2/Create a dataframe
df_BooksList_Light=df_BooksList.drop(columns=['series','popular_shelves','asin','similar_books','description','link',
                                              'edition_information','kindle_asin','url','image_url','title_without_series'])
# Move the author column to the end of the df
#df_BooksList_Light.insert(len(df_BooksList_Light.columns), 'authors', df_BooksList_Light.pop('authors'))

In [6]:
df_BooksList_Light.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2360655 entries, 0 to 2360654
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   isbn                object
 1   text_reviews_count  float64
 2   country_code        object
 3   language_code       object
 4   is_ebook            object
 5   average_rating      float64
 6   format              object
 7   authors             object
 8   publisher           object
 9   num_pages           float64
 10  publication_day     float64
 11  isbn13              object
 12  publication_month   float64
 13  publication_year    float64
 14  book_id             int64
 15  ratings_count       float64
 16  work_id             float64
 17  title               object
dtypes: float64(8), int64(1), object(9)
memory usage: 324.2+ MB

In [8]:
df_shelves.info()
# popular-shelves = book's genre

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2360655 entries, 0 to 2360654
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0   book_id          int64
 1   isbn13           object
 2   title            object
 3   popular_shelves  object
dtypes: int64(1), object(3)
memory usage: 72.0+ MB

In [32]:
## Code to split the column authors

import pandas as pd
import ast

# Give the name of the dataframe to split
df = df_BooksList_Light

# Function to parse the string into a list of dictionaries
def parse_list_string(text):
    try:
        return ast.literal_eval(text)
    except (SyntaxError, ValueError):
        return []

# Apply the parse_list_string function to col3 and create a new DataFrame with expanded data
expanded_data = df['authors'].apply(parse_list_string)

# Determine the maximum number of dictionaries in any cell of col3
max_num_dicts = max(expanded_data.apply(len))

# Create empty columns for each dictionary key
for i in range(max_num_dicts):
    df[f'author_id_{i+1}'] = ''
    df[f'role_{i+1}'] = ''

# Fill in the values from the expanded_data
for i, row in enumerate(expanded_data):
    for j, d in enumerate(row):
        df.at[i, f'author_id_{j+1}'] = d.get('author_id', '')
        df.at[i, f'role_{j+1}'] = d.get('role', '')

# Drop the original col3 column
#df.drop(columns=['authors'], inplace=True)

# Display the result

df

C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''

C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''

C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'author_id_{i+1}'] = ''
C:\Users\gunon\AppData\Local\Temp\ipykernel_19312\237186722.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'role_{i+1}'] = ''

,isbn,text_reviews_count,country_code,language_code,is_ebook,average_rating,format,authors,publisher,num_pages,...,author_id_76,role_76,author_id_77,role_77,author_id_78,role_78,author_id_79,role_79,author_id_80,role_80
0,0312853122,1.0,US,NaN,False,4.00,Paperback,"[{'author_id': '604031', 'role': ''}]",St. Martin's Press,256.0,...,,,,,,,,,,
1,0743509986,6.0,US,NaN,False,3.23,Audio CD,"[{'author_id': '626222', 'role': ''}]",Simon & Schuster Audio,NaN,...,,,,,,,,,,
2,NaN,7.0,US,eng,False,4.03,Hardcover,"[{'author_id': '10333', 'role': ''}]","Nelson Doubleday, Inc.",600.0,...,,,,,,,,,,
3,0743294297,3282.0,US,eng,False,3.49,Hardcover,"[{'author_id': '9212', 'role': ''}]",Atria Books,368.0,...,,,,,,,,,,
4,0850308712,5.0,US,NaN,False,3.40,NaN,"[{'author_id': '149918', 'role': ''}]",NaN,NaN,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2360650,0563553014,3.0,US,eng,False,4.05,Audio Cassette,"[{'author_id': '4015', 'role': ''}, {'author_i...",BBC Audiobooks,3.0,...,,,,,,,,,,
2360651,178092870X,2.0,US,eng,False,3.50,Paperback,"[{'author_id': '2448', 'role': ''}, {'author_i...",MX Publishing,148.0,...,,,,,,,,,,
2360652,0765197456,6.0,US,NaN,False,4.00,Hardcover,"[{'author_id': '82312', 'role': 'Editor'}]",Smithmark Publishers,96.0,...,,,,,,,,,,
2360653,162378140X,17.0,US,eng,False,4.37,Paperback,"[{'author_id': '7789809', 'role': ''}]",Guerrilla Wordfare,306.0,...,,,,,,,,,,
2360654,NaN,1.0,US,NaN,True,3.52,NaN,"[{'author_id': '621880', 'role': ''}]",NaN,NaN,...,,,,,,,,,,

In [35]:
df = df_BooksList_Light

# Function to parse the string into a list of dictionaries
def parse_list_string(text):
    try:
        return ast.literal_eval(text)
    except (SyntaxError, ValueError):
        return []

# Apply the parse_list_string function to the "authors" column and create a new DataFrame with expanded data
expanded_data = df['authors'].apply(parse_list_string)

# Create a list of dictionaries for each row
dict_list = []
for row in expanded_data:
    dict_list.append({f'author_id_{i+1}': d.get('author_id', ''), f'role_{i+1}': d.get('role', '')} for i, d in enumerate(row))

# Create a DataFrame from the list of dictionaries
expanded_df = pd.DataFrame(dict_list)

# Combine the original DataFrame and the expanded DataFrame
result_df = pd.concat([df[['isbn', 'text_reviews_count', 'country_code', 'language_code', 'is_ebook','average_rating',
                           'format', 'authors', 'publisher', 'num_pages', 'publication_day', 'isbn13','publication_month',
                           'publication_year', 'book_id', 'ratings_count', 'work_id', 'title' ]], expanded_df], axis=1)